<IfModule mod_rewrite.c>
    RewriteEngine On

    # Chuyển request đến public nếu không phải file hoặc thư mục
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L,QSA]

    # Nếu là thư mục public, redirect vào index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^public/(.*)$ public/index.php [L]
</IfModule>
