.TableWarning td, 
.TableWarning select {
    background-color: rgba(255, 0, 0, 0.055) !important;
}

.ProductSelectedTable{
    display: none;
}

.ProductSelectedTable th{
    font-weight: 500;
}

.ProductSelectedTable tr, 
.ProductSelectedTable th, 
.ProductSelectedTable td,
.ProductSelectedTable input{
    padding: 4px 10px;
}

.ProductSelectedTable input{
    width: auto;
}

.DropdownInput-Select{
    display:none; 
    z-index:1000; 
    width: calc(100% - 16px); /* trá»« width scrollbar */
    max-height:200px; 
    overflow-y:auto; 
    box-sizing:border-box;
}