
.TableWarning td, .TableWarning select {
    background-color: rgba(255, 0, 0, 0.055) !important;
}

.table td, .table th, table select, table a, table button {
    vertical-align: middle;
    font-size: 0.8rem!important;
}

.clickable-row {
    cursor: pointer;
}

tr[data-href] {
  cursor: pointer;
}

.ProductSelectedTable{
    display: none;
}

.ProductSelectedTable th{
    font-weight: 500;
}

.ProductSelectedTable tr, 
.ProductSelectedTable th, 
.ProductSelectedTable td,
.ProductSelectedTable input{
    padding: 4px 10px;
}

.ProductSelectedTable input{
    width: auto;
}

.DropdownInput-Select{
    display:none; 
    z-index:1000; 
    width: calc(100% - 16px); /* trừ width scrollbar */
    max-height:200px; 
    overflow-y:auto; 
    box-sizing:border-box;
}